[Unit]
Requires=seafile-mariadb.service seafile-server.service seafile-memcached.service
After=seafile-mariadb.service seafile-server.service seafile-memcached.service

[Container]
ContainerName=seahub
Environment=SEAFILE_ADMIN_EMAIL=karpovanton729@gmail.com SEAFILE_ADMIN_PASSWORD=495762
Image=docker.io/ggogel/seahub:11.0.9
Network=seafile.network
Volume=/var/opt/seafile-data:/shared:z
Volume=/var/opt/seahub-avatars:/shared/seafile/seahub-data/avatars:z
Volume=/var/opt/seahub-custom:/shared/seafile/seahub-data/custom:z
