[Container]
ContainerName=seahub-media
Image=docker.io/ggogel/seahub-media:11.0.9
Network=seafile.network
Volume=/var/opt/seahub-avatars:/usr/share/caddy/media/avatars:z
Volume=/var/opt/seahub-custom:/usr/share/caddy/media/custom:z
