[Container]
ContainerName=searxng-cache
Exec=valkey-server
Image=docker.io/valkey/valkey:7-alpine
Network=searxng.network
Volume=/var/opt/searxng-cache:/data:z
