[Container]
AddCapability=CHOWN SETGID SETUID
ContainerName=searxng-server
DropCapability=ALL
Environment=SEARXNG_BASE_URL=http://172.20.2.11:9004/
Image=docker.io/searxng/searxng:latest
Pod=searxng.pod
Volume=/var/opt/searxng-settings:/etc/searxng:z
