[Container]
ContainerName=searxng-cache
Exec=valkey-server
Image=docker.io/valkey/valkey:7-alpine
Pod=searxng.pod
Volume=/var/opt/searxng-cache:/data:z
